/*Project icon/title links*/

.mobileIcons {
    display: none;
}
.desktopIcons {
    display: block;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px;
    border-color: #263523;
    border-style: solid;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 1.5vw 1vw 1.5vw 1vw;
    margin: auto 0.5vw auto 0.5vw;
    min-width: 96px;
    min-height: 96px;
    max-width: 96px;
    max-height: 96px;
    text-align: center;
}
.projectBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto 10px auto;
    border-radius: 25px;
    width: 95%;
    max-width: 1080px;
}
.project img {
    min-width: 56px;
    max-width: 56px;
    max-height: 56px;
    object-fit: cover;
    background-color: #FFFFFF;
}
.project h2 {
    font-size: 13px;
    width: 99%;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
}
.project:hover {
    max-width: 108px;
    max-height: 108px;
    margin: auto 0.5vw auto 0.5vw;
}


/*Project Info*/

.techBox h2 {
    font-size: 22px;
    background-color: #FFFFFF;
}
.techBox p {
    font-size: 18px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 25px;
}

 
