/*Project icon/title links*/

.projectRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 95%;
    max-width: 1080px;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    border-top: 3px;
    border-color: #263523;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media (max-width: 1024px) {
    /*Project icon/title links*/

    .project {
        width: 27vw;
        height: 27vw;
        max-width: 192px;
        max-height: 192px;
        min-width: 96px;
        min-height: 96px;
    }
    .project img {
        width: 11vw;
        max-width: 128px;
        max-height: 128px;
        object-fit: cover;
        background-color: #FFFFFF;
    }
    .mobileIcons {
        display: block;
    }
    .desktopIcons {
        display: none;
    }   

    .project h2 {
        font-size: 2.75vw;
    }
    .project:hover {
        max-width: 208px;
        max-height: 208px;
    }

    /*Project Info*/

    .smallBox {
        width: 30vw;
    }
    .descriptionBox {
        width: 69vw;
    }
    .smallBox h2,  
    .descriptionBox h2 {
        font-size: 22px;
    }
    .smallBox p,  
    .descriptionBox p {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    /*Project icon/title links*/

    .project:hover {
        width: 28vw;
        height: 28vw;
    }

    /*Project Info*/

    .smallBox h2,  
    .descriptionBox h2 {
        font-size: 18px;
    }
    .smallBox p,  
    .descriptionBox p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /*Project icon/title links*/

    .project img {
        min-width: 56px;
        max-width: 56px;
        max-height: 56px;
    }

    /*Project Info*/
    
    .smallBox h2,  
    .descriptionBox h2 {
        font-size: 14px;
    }
    .smallBox p,  
    .descriptionBox p {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    /*Project icon/title links*/

    .project img {
        min-width: 48px;
        max-width: 48px;
        max-height: 48px;
    }

    /*Project Info*/

    .smallBox {
        width: 33vw;
    }
    .descriptionBox {
        width: 76vw;
    }
}

@media (max-width: 370px) {
    /*Project icon/title links*/

    .project img {
        min-width: 38px;
        max-width: 38px;
        max-height: 38px;
    }
}

@media (max-width: 320px) {
    /*Project icon/title links*/

    .project img {
        min-width: 32px;
        max-width: 32px;
        max-height: 32px;
    }
    .project h2 {
        font-size: 9px;
    }
    
}


