html * {
    font-family: "Comic Sans MS", "Comic Sans", "Arial";
    color: #12140F;
    background-color: #F4F9F5;
    z-index: 0;
}

/*General Text*/

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
}
h2 {
    font-size: 24px;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
}
p {
    font-size: 1vw;
    width: 90%;
    margin: auto;
    max-width: 1023px;
}

/*Menu*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    margin: 0.5vw;
}

/*Section Break*/

.sectionBreak {
    border-bottom: 0.5vw;
    border-color: #263523;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 2vw auto 2vw auto;
    width: 95%;
    max-width: 1080px;

}

/*Project icon/title links*/

.projectContainer {
    display: flex;
    flex-direction: column;
}
.projectRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 95%;
    max-width: 1080px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5vw;
    border-color: #263523;
    border-style: solid;
    border-radius: 5vw;
    background-color: #FFFFFF;
    padding: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 27%;
    min-width: 27%;
    text-align: center;
}
.project img {
    width: 80%;
    object-fit: cover;
    background-color: #FFFFFF;
}
.project h2 {
    font-size: 2vw;
    width: 90%;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
}
.project a {
    background-color: #FFFFFF;
}
.project:hover {
    min-width: 28%;
    max-width: 28%;
    background-color: #D2E7D6;
}
.project:hover img,
.project:hover h2 ,
.project:hover a {
    background-color: #D2E7D6;
}

 
