html * {
    font-family: "Arial", "sans-serif";
    color: #12140F;
    background-color: #F4F9F5;
    z-index: 0;
}

/*General Text*/

h1 {
    font-size: 36px;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
}
p {
    width: 90%;
    margin: auto;
    max-width: 1023px;
}

/*Menu*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

/*Section Break*/

.sectionBreak {
    border-bottom: 3px;
    border-color: #263523;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 50px auto 50px auto;
    width: 95%;
    max-width: 1080px;
}
.sectionBreak h2 {
    margin: 30px auto 30px auto;
}

/*Project icon/title links*/


.project a {
    background-color: #FFFFFF;
    text-decoration: none;
}
.project:hover,
.project:hover img,
.project:hover h2 ,
.project:hover a {
    background-color: #D2E7D6;
}

/*Project Info*/

.projectInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 95%;
    max-width: 1080px;
}
.boxRow {
    display: flex;
    flex-direction: row;
}
.boxColumn {
    display: flex;
    flex-direction: column;
}
.smallBox {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: #263523;
    border-style: solid;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    width: 16vw;
    max-width: 244px;
    max-height: 244px;
}
.smallBox ul,
.smallBox li {
    background-color: #FFFFFF;
}
.descriptionBox {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: #263523;
    border-style: solid;
    border-radius: 25px;
    background-color: #D2E7D6;
    padding: 15px;
    margin: auto 10px;
    width: 48vw;
    max-width: 550px;
    max-height: 550px;
}
.descriptionBox h2, 
.descriptionBox p,
.descriptionBox ul,
.descriptionBox li {
    background-color: #D2E7D6;
    text-align: left;
}





  