html * {
    font-family: "Comic Sans MS", "Comic Sans", "Arial";
    color: #284b63;
    background-color: #FFFFFF;
    z-index: 0;
}

/*General Text*/

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
}

h2 {
    font-size: 24px;
    text-align: center;
    padding: 10px auto 10px auto;
    margin: 10px auto 10px auto;
}

p {
    font-size: 1vw;
    width: 90%;
    margin: auto;
    max-width: 1023px;
}

/*Menu*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    margin: 0.5vw;
}

/*Section Break*/

.sectionBreak {
    border-top: 0.5vw;
    border-bottom: 0.5vw;
    border-color: #284b63;
    border-style: solid;
    border-left: none;
    border-right: none;
    margin: 2vw auto 2vw auto;
    width: 95%;
    max-width: 1080px;

}

/*Project icon/title links*/

.projectContainer {
    display: flex;
    flex-direction: column;
}
  
.projectRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 95%;
    max-width: 1080px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5vw;
    border-color: #284b63;
    border-style: solid;
    border-radius: 5vw;
    padding: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 27%;
    min-width: 27%;
}
  
.project img {
    width: 90%;
    justify-content: center;
    object-fit: cover;
}
  
.project h2 {
    font-size: 2vw;
    width: 90%;
    font-weight: bold;
    text-align: center;
}

/*Colour Theme*/

.colours {
    color: #353535, #3c6e71, #ffffff, #d9d9d9, #284b63;
}

 
